@page "/editemployee/{id}"

@inherits EditEmployeeBase

<h3>Edit Employee</h3>
<hr />
<a href="/" id="btn_back" class="btn btn-sm"><i class="fas fa-chevron-left"></i>&emsp; Back</a>
<br />
<br />

<EditForm Model="@EditEmployeeModel" OnValidSubmit="HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary style="font-family:'Segoe UI'" />
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-5">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                       @bind-Value="@EditEmployeeModel.FirstName" />
            @*<ValidationMessage For="@(() => Employee.FirstName)" />*@
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-5">
            <InputText id="lastName" class="form-control" placeholder="Last Name"
                       @bind-Value="@EditEmployeeModel.LastName" />
            @*<ValidationMessage For="@(() => Employee.LastName)" />*@
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-5">
            <InputText id="email" class="form-control" placeholder="Email"
                       @bind-Value="@EditEmployeeModel.Email" />
            @*<ValidationMessage For="@(() => Employee.Email)" />*@
        </div>
    </div>
    <div class="form-group row">
        <label for="confirmEmail" class="col-sm-2 col-form-label">Confirm Email</label>
        <div class="col-sm-5">
            <InputText id="confirmEmail" class="form-control" 
                       @bind-Value="@EditEmployeeModel.ConfirmEmail" />
            @*<ValidationMessage For="@(() => Employee.Email)" />*@
        </div>
    </div>
    <div class="form-group row">
        <label for="department" class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-5">
            <CustomInputSelect id="department" @bind-Value="EditEmployeeModel.DepartmentId" class="form-control">
                @foreach (var dept in Departments)
                {
                    <option value="@dept.DepartmentId">@dept.DepartmentName</option>
                }
            </CustomInputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-5">
            <InputSelect id="gender" @bind-Value="EditEmployeeModel.Gender" class="form-control">
                @foreach (var gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@gender</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="dateofbirth" class="col-sm-2 col-form-label">Date Of Birth</label>
        <div class="col-sm-5">
            <InputDate @bind-Value="EditEmployeeModel.DateOfBirth" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="deptName" class="col-sm-2 col-form-label">Department Name</label>
        <div class="col-sm-5">
            <InputText id="deptName" class="form-control"
                       @bind-Value="@EditEmployeeModel.Department.DepartmentName"/>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>